body {
  font-family: Arial;
  /*line-height: 1.4;*/
  font-size: 45px;
  /*padding: 20px;*/
  max-width: 1200px;
/*   max-height: 1200px;   */
  margin: 10 auto;
  zoom: 78%;  
}

.grid {
  max-width: 1200px;
}

/* reveal grid after images loaded */
/*.grid.are-images-unloaded {
  opacity: 0;
}
*/
.grid__item,
.grid__col-sizer {
  width: 25%;
}

.grid__gutter-sizer { width: 0%; }

.grid__item {
  margin-bottom: 5px;
  float: left;
}
.grid__item--width25 { width: 25%; }
.grid__item--width50 { width: 50%; }
.grid__item--width75 { width: 75%; }
.grid__item--width100 { width: 100%; }

/* .grid__item--height25 { height: 25%; }
.grid__item--height50 { height: 50%; }
.grid__item--height75 { height: 75%; }
.grid__item--height100 { height: 100%; } */


.grid__item img {
  display: block;
  max-width: 100%;
}

*/fig.plot {
  position: relative;
  overflow: hidden;
  /*margin: 10px;*/
/*   min-width: 220px;
  max-width: 500px;
  max-height: 240px; 
*/  /*width: 100%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
}
fig.plot > img {
  /*bottom: 5%;*/
  /*margin-bottom: 10%;*/
  /*height: 95%;*/
  /*width: 100%;*/
}
fig.plot ploti {
  left: 0;
  position: absolute;
  top: 0;
  /*width: 100%;*/
  /*height: 5%;*/
}
