body {
  font-family: Arial;
  /*line-height: 1.4;*/
  font-size: 25px;
  /*padding: 20px;*/
  max-width: 640px;
  margin: 10 auto;
}

.grid {
  max-width: 1200px;
}

/* reveal grid after images loaded */
/*.grid.are-images-unloaded {
  opacity: 0;
}
*/
.grid__item,
.grid__col-sizer {
  width: 32%;
}

.grid__gutter-sizer { width: 2%; }

.grid__item {
  margin-bottom: 5px;
  float: left;
}

.grid__item--height1 { height: 150px; }
.grid__item--height2 { height: 250px; }
.grid__item--height3 { height: 350px; }

.grid__item--width1 { width: 33%; }
.grid__item--width2 { width: 66%; }
.grid__item--width3 { width: 100%; }

.grid__item img {
  display: block;
  max-width: 100%;
}

*/fig.plot {
  position: relative;
  overflow: hidden;
  /*margin: 10px;*/
/*   min-width: 220px;
  max-width: 500px;
  max-height: 240px; 
*/  /*width: 100%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
}
fig.plot > img {
  /*bottom: 5%;*/
  /*margin-bottom: 10%;*/
  /*height: 95%;*/
  /*width: 100%;*/
}
fig.plot ploti {
  left: 0;
  position: absolute;
  top: 0;
  /*width: 100%;*/
  /*height: 5%;*/
}
